.option {
    background-color: #3c0e70;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.4s;
  }

  .option:hover {
    opacity: 1;
    background-color: rgb(0, 128, 0);
  }

  #options-container .option p {
    margin-bottom: 0;
  }
  .option.selected {
    background-color: green;
  }