#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 1rem;
    min-width: 100vw;
    width: 100%;
}

#login .field label {
    display: block;
}

#login .form {
    background-color: #003479;
    width: 100%;
    max-width: 480px;
    padding: 4rem;
    border-radius: 1rem;
}

#login .form a {
    text-decoration: none;
}

#login .field input {
    width: 75%;
    border-radius: 10px;
    padding: 5px;
}

#login .actions {
    text-align: center;
    margin-top: 1rem;
}